header {
  background: #171515;
  color: #ddd;
  -webkit-user-select: none;
  user-select: none;

  .icon {
    margin-left: 12px;
    margin-top: 2px;

    img {
      width: 100%
    }
  }

  .bar {
    -webkit-app-region: drag;
  }

  .btn {
    padding: 14px;
    cursor: pointer;

    svg {
      width: 18px;

      &.minimize {
        transform: rotate(45deg);
      }
    }

    &:hover {
      background: rgba(0,0,0,.5);
    }
  }
}

.container {
  background: url('../../../assets/background.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

}
