<div class="item" *ngFor="let host of hosts">
  <div class="icon">
    <div class="status" [ngClass]="{ 'online': (host.status === 'online'), 'offline': (host.status === 'offline'), 'inactive': (host.status === 'inactive') }"></div>
    <div class="loading" *ngIf="host.scanning">
      <svg width="95px" height="95px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><defs><linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%"><stop offset="0%" style="stop-color:#1A6DFF" /><stop offset="50%" style="stop-color:#C822FF" /></linearGradient></defs><path d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="url(#grad1)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur=".8s" begin="0s" repeatCount="indefinite"></animateTransform></path></svg>
    </div>
    <img src="./assets/icon/icons8-router-64.png" alt="" title="" />
  </div>

  <div class="content">
    <div class="name">{{ (host.hostname || host.vendor) }}</div>

    <div class="os">{{ host.osNmap }}</div>

    <div class="mac">{{ host.mac }}</div>

    <div class="IP">{{ host.ip }}</div>
  </div>

  <div style="clear: both;"></div>
</div>

<div class="item none" *ngIf="!hosts">

  <div class="icon" *ngIf="networkService.isScanning">
    <div class="loading">
      <svg width="95px" height="95px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><defs><linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%"><stop offset="0%" style="stop-color:#1A6DFF" /><stop offset="50%" style="stop-color:#C822FF" /></linearGradient></defs><path d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="url(#grad1)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur=".8s" begin="0s" repeatCount="indefinite"></animateTransform></path></svg>
    </div>
    <img src="./assets/icon/icons8-router-64.png" alt="" title="" />
  </div>

  <h1 *ngIf="!networkService.isScanning">Nenhum host encontrado</h1>
  <h1 *ngIf="networkService.isScanning">Procurando hosts na rede</h1>
</div>
