<div class="item" *ngFor="let host of hosts">
  <div class="icon">
    <div class="status" [ngClass]="{ 'online': (host.status === 'online'), 'offline': (host.status === 'offline'), 'inactive': (host.status === 'inactive') }"></div>
    <img src="./assets/icon/icons8-router-64.png" alt="" title="" />
  </div>

  <div class="content">
    <div class="name">{{ (host.hostname || host.vendor) }}</div>

    <div class="os">{{ host.osNmap }}</div>

    <div class="mac">{{ host.mac }}</div>

    <div class="IP">{{ host.ip }}</div>
  </div>

  <div style="clear: both;"></div>
</div>
